@model Questionnairor.Models.Response

@{
    ViewData["Title"] = "Edit";
}

<h2>Response</h2>
<h4>Edit</h4>
<hr />
@using (Html.BeginForm("Update", "Response", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"] }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Feedback)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Feedback)
        <br />
        @Html.ValidationMessageFor(m => m.Feedback)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.MinimumChoices)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.MinimumChoices)
        <br />
        @Html.ValidationMessageFor(m => m.MinimumChoices)
    </div>
    <br />
    <div>
        <input type="submit" value="Edit Response" />
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to List", "Edit", "Choice", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"] })
</div>

