@model Questionnairor.Models.Response

@{
    ViewData["Title"] = "Edit";
}

<h2>Response</h2>
<h4>Delete</h4>
<hr />
@using (Html.BeginForm("Delete", "Response", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"], responseId = Model.Id }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Feedback)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Feedback, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.MinimumChoices)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.MinimumChoices, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this response.
    </p>
    <br />
    <div>
        <input type="submit" value="Delete Response" />
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to List", "Edit", "Choice", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"] })
</div>

