@model Questionnairor.Models.Response

@{
    ViewData["Title"] = "Delete";
}

<div class="header">
    <h2>Response</h2>
    <h4>Delete</h4>
    <hr />
</div>
@using (Html.BeginForm("Delete", "Response", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"], responseId = Model.Id }, FormMethod.Post, true, new { @class = "center" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="editor left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="editor right">
        @Html.EditorFor(m => m.Title)
    </div>
    <div class="editor left">
        @Html.LabelFor(m => m.Feedback)
    </div>
    <div class="editor right">
        @Html.TextAreaFor(m => m.Feedback, new { @readonly = "readonly" })
    </div>
    <div class="editor left">
        @Html.LabelFor(m => m.MinimumChoices)
    </div>
    <div class="editor right">
        @Html.EditorFor(m => m.MinimumChoices, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this response.
    </p>
    <div>
        <input type="submit" value="Delete Response" />
        <a href="@Url.Action("Edit", "Response", new { questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"], responseId = Model.Id })"><input type="button" value="Cancel Deletion" /></a>
    </div>
}
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
@await Html.PartialAsync("FooterPartialView", new FooterModel(ViewData["QuestionId"], ViewData["ChoiceValue"]))

