@model Questionnairor.Models.Choice

<div>
    <input type="text" readonly="readonly" value="@Model.Value" />
    <input type="text" readonly="readonly" value="@Model.Text" />
    <input type="text" readonly="readonly" value="Includes @Model.Responses.Count responses." />

    @Html.ActionLink("Edit", "Edit", "Choice", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = @Model.Value })
    @Html.ActionLink("Delete", "Remove", "Choice", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = @Model.Value })
</div>
