@model QuestionnaireData.Models.Choice

<div>
    <input type="text" readonly="readonly" value="@Model.Value" />
    <input type="text" readonly="readonly" value="@Model.Text" />
    <input type="text" readonly="readonly" value="Includes @Model.Responses.Count responses." />

    @Html.ActionLink("Edit", "Edit", "Choice", new { id = ViewData["Id"], questionId = ViewData["QuestionId"], @Model.Value })
    @Html.ActionLink("Delete", "Delete", "Choice", new { id = ViewData["Id"], questionId = ViewData["QuestionId"], @Model.Value })
</div>
