@model QuestionnaireData.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<h2>Delete</h2>
<h4>Question</h4>
<hr />
@using (Html.BeginForm("Delete", "Question", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Text, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this question.
    </p>
    <br />
    <div>
        <input type="submit" value="Delete Question" formaction="@Url.Action("Delete", "Question", new { id = ViewData["Id"], questionId = @Model.Id, confirm = true })" />
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to List", "Edit", "Questionnaire", new { id = ViewData["Id"] })
</div>

