@model Questionnairor.Models.Questionnaire

@{
    ViewData["Title"] = "Edit";
}

<h2>Questionnaire</h2>
<h4>Edit</h4>
<hr />
@using (Html.BeginForm("Update", "Questionnaire", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Introduction)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Introduction)
        @Html.ValidationMessageFor(m => m.Introduction)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Conclusion)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Conclusion)
        @Html.ValidationMessageFor(m => m.Conclusion)
    </div>
    @Html.HiddenFor(m => m.Questions)
    <p>
    </p>
    <div>
        <input type="submit" value="Edit Questionnaire" />
        <a href="@Url.Action("Remove", "Questionnaire")"><input type="button" value="Delete Questionnaire" /></a>
        <a href="@Url.Action("Load", "Questionnaire")"><input type="button" value="Load Questionnaire" /></a>
        <a href="@Url.Action("Save", "Questionnaire")"><input type="button" value="Save Questionnaire" /></a>
    </div>
    <hr />
    <h4>Questions</h4>
    foreach (var question in Model.Questions)
    {
        @await Html.PartialAsync("QuestionPartialView", question)
    }
    <br />
    <div>
        <a href="@Url.Action("Add", "Question")"><input type="button" value="Add New Question" /></a>
    </div>
}
<hr />
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
<div>
    @Html.ActionLink("View Questionnaire", "Index", "Questionnaire", new { Area = "Viewer" })
    @Html.ActionLink("Back", "Index", "Questionnaire")
</div>

