@model Questionnairor.Models.Questionnaire

@{
    ViewData["Title"] = "Questionnaire";
}

<h2>Questionnaire</h2>
<p>This app allows you create a custom questionnaire by adding individual multiple-choice questions, and then each choice in these questions.</p>
<p>Finally you can specify the responses the questionnaire gives to specific questions, including if a response is only given to a combination of choices.</p>
@if (Model != null && Model.Id != Guid.Empty)
{
    @await Html.PartialAsync("QuestionnairePartialView", Model)
}
<br />
<div>
    <a href="@Url.Action("Add", "Questionnaire")"><input type="button" value="Create New Questionnaire" /></a>
    <a href="@Url.Action("Load", "Questionnaire")"><input type="button" value="Load Questionnaire" /></a>
    @if (Model != null && Model.Id != Guid.Empty)
    {
        <a href="@Url.Action("Edit", "Questionnaire")"><input type="button" value="Edit Questionnaire" /></a>
        <a href="@Url.Action("Remove", "Questionnaire")"><input type="button" value="Delete Questionnaire" /></a>
        <a href="@Url.Action("Index", "Questionnaire", new { Area = "Viewer" })"><input type="button" value="View Questionnaire" /></a>
    }
</div>
