@model Questionnaire

@{
    ViewData["Title"] = "Load";
}

<h2>Questionnaire</h2>
<h4>Load</h4>
<hr />
<p>Write or copy/paste a valid json questionnaire object to load it, or load from a file.</p>
@using (Html.BeginForm(FormMethod.Post))
{
    <textarea id="jsonData" name="jsonData"></textarea>
    <br />
    <input type="file" name="fileInput" id="fileInput" />
    <script type="text/javascript">
        function readFile(event) {
            var fileName = event.target.files[0];

            if (fileName) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var data = event.target.result;
                    document.getElementById('jsonData').value = data;
                }
                reader.readAsText(fileName);
                document.getElementById('loadButton').disabled = false;
            }
        }
        function textEdit(event) {
            document.getElementById('fileInput').value = "";
            if (document.getElementById('jsonData').value == "") {
                document.getElementById('loadButton').disabled = true;
            }
            else {
                document.getElementById('loadButton').disabled = false;
            }
        }
        document.getElementById('fileInput').addEventListener('change', readFile, false);
        document.getElementById('jsonData').addEventListener('change', textEdit, false);
    </script>
    <hr />
    <div>
        <input id="loadButton" name="loadButton" type="submit" value="Load Questionnaire From JSON" disabled="disabled" formaction="@Url.Action("Load", "Questionnaire")" />
        @if (ViewData["DB"].Equals("True") || true)
        {
            <input id="databaseButton" name="databaseButton" type="submit" value="Load Questionnaire From Database" formaction="@Url.Action("LoadDB", "Questionnaire")" />
        }
        else
        {
            <input id="databaseButton" name="databaseButton" type="submit" value="Load Questionnaire From Database" disabled="disabled" formaction="@Url.Action("LoadDB", "Questionnaire")" />
        }
        @if (Model == null || Model.Id == Guid.Empty)
        {
            <a href="@Url.Action("Index", "Questionnaire")"><input type="button" value="Cancel Load" /></a>
        }
        else
        {
            <a href="@Url.Action("Edit", "Questionnaire")"><input type="button" value="Cancel Load" /></a>
        }
    </div>
}
<hr />
<div>
    @if (Model == null || Model.Id == Guid.Empty)
    {
        @Html.ActionLink("Back", "Index", "Questionnaire")
    }
    else
    {
        <environment include="Development">
            @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
        </environment>
        @Html.ActionLink("Back", "Edit", "Questionnaire")
    }
</div>

