@model Questionnairor.Models.Questionnaire

@{
    ViewData["Title"] = "Remove";
}

<h2>Questionnaire</h2>
<h4>Delete</h4>
<hr />
@using (Html.BeginForm("Delete", "Questionnaire", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Introduction)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Introduction, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this questionnaire.
    </p>
    <div>
        <input type="submit" value="Delete Questionnaire" />
        <a href="@Url.Action("Edit", "Questionnaire")"><input type="button" value="Cancel Deletion" /></a>
    </div>
    <hr />
    <h4>Questions</h4>
    foreach (var question in Model.Questions)
    {
        @await Html.PartialAsync("QuestionPartialView", question)
    }
    @Html.HiddenFor(m => m.Questions)
    <br />
    <div>
        <a href="@Url.Action("Add", "Question")"><input type="button" value="Add New Question" /></a>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back", "Index", "Questionnaire")
</div>

