@model Questionnaire

@{
    ViewData["Title"] = "Save";
}

<div class="header">
    <h2>Questionnaire</h2>
    <h4>Save</h4>
    <hr />
</div>
@using (Html.BeginForm(FormMethod.Post, new { @class = "center" }))
{
    @Html.TextArea("jsonData", Model.ToJson(Newtonsoft.Json.Formatting.Indented), new { @class="json" })
    <br />
    <hr />
    <input id="saveButton" name="saveButton" type="submit" value="Save Questionnaire To JSON" disabled="disabled" formaction="@Url.Action("Save", "Questionnaire")" />
    @if (ViewData["DB"].Equals("True"))
    {
        <input id="databaseButton" name="databaseButton" type="submit" value="Save Questionnaire To Database" formaction="@Url.Action("SaveDB", "Questionnaire")" />
    }
    else
    {
        <input id="databaseButton" name="databaseButton" type="submit" value="Save Questionnaire To Database" disabled="disabled" formaction="@Url.Action("SaveDB", "Questionnaire")" />
    }
}
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
<div class="footer">
    <hr />
    @Html.ActionLink("Back", "Edit", "Questionnaire")
</div>
