@model Questionnairor.Areas.Viewer.Models.QuestionWithIndex

<div>
    <h4>@Model.Title</h4>
    <p>@Model.Text</p>
    @Html.Hidden($"Questions[{@Model.QuestionIndex}].Id", Model.Id)
    @Html.Hidden($"Questions[{@Model.QuestionIndex}].Title", Model.Title)
    @Html.Hidden($"Questions[{@Model.QuestionIndex}].Text", Model.Text)
    <div>
        @for (var i = 0; i < Model.Choices.Count; i++)
        {
            ChoiceWithIndex data = new ChoiceWithIndex(Model.QuestionIndex, i, Model.Choices.ElementAt(i));
            await Html.RenderPartialAsync("ChoiceRadioPartialView", data);
        }
    </div>
    @for (var i = 0; i < Model.Choices.Count; i++)
    {
        ChoiceWithIndex data = new ChoiceWithIndex(Model.QuestionIndex, i, Model.Choices.ElementAt(i));
        await Html.RenderPartialAsync("ChoicePartialView", data);
    }
    @if (Model.Choices.Count == 0)
    {
        @Html.Hidden($"Questions[{@Model.QuestionIndex}].Choices", Model.Choices)
    }
</div>
