@model Questionnairor.Models.Question

@{
    ViewData["Title"] = "Add";
}

<h2>Question</h2>
<h4>Add</h4>
<hr />
@using (Html.BeginForm("Create", "Question", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    @Html.HiddenFor(m => m.Choices)
    @Html.HiddenFor(m => m.Answer)
    <p>
        Add a question to the questionnaire. Afterwards you can add multiple choices.
    </p>
    <div>
        <input type="submit" value="Add Question" />
        <a href="@Url.Action("Edit", "Questionnaire")"><input type="button" value="Cancel Add" /></a>
    </div>
}
<hr />
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
@await Html.PartialAsync("FooterPartialView", new FooterModel(null, null))

