@model Questionnairor.Models.Question

@{
    ViewData["Title"] = "Edit";
    ViewData["QuestionId"] = Model.Id;
}

<div class="header">
    <h2>Question</h2>
    <h4>Edit</h4>
    <hr />
</div>
@using (Html.BeginForm("Update", "Question", FormMethod.Post, new { @class = "center" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="editor left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="editor right">
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="editor left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="editor right">
        @Html.TextAreaFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    @Html.HiddenFor(m => m.Choices)
    @Html.HiddenFor(m => m.Answer)
    <p>
    </p>
    <div>
        <input type="submit" value="Edit Question" />
        <a href="@Url.Action("Remove", "Question", new { questionId = Model.Id })"><input type="button" value="Delete Question" /></a>
        <a href="@Url.Action("Add", "Question")"><input type="button" value="Add New Question" /></a>
    </div>
    <hr />
    <h4>Choices</h4>
    foreach (var choice in Model.Choices)
    {
        @await Html.PartialAsync("ChoicePartialView", choice)
    }
    <br />
    <div>
        <a href="@Url.Action("Add", "Choice", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Add New Choice" /></a>
    </div>
}
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
@await Html.PartialAsync("FooterPartialView", new FooterModel(null, null))

