@model Questionnairor.Models.Question

@{
    ViewData["Title"] = "Edit";
    ViewData["QuestionId"] = Model.Id;
}

<h2>Question</h2>
<h4>Edit</h4>
<hr />
@using (Html.BeginForm("Update", "Question", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    @Html.HiddenFor(m => m.Choices)
    <p>
    </p>
    <div>
        <input type="submit" value="Edit Question" />
        <a href="@Url.Action("Remove", "Question", new { questionId = Model.Id })"><input type="button" value="Delete Question" /></a>
        <a href="@Url.Action("Add", "Question")"><input type="button" value="Add New Question" /></a>
    </div>
    <hr />
    <h4>Choices</h4>
    foreach (var choice in Model.Choices)
    {
        @await Html.PartialAsync("ChoicePartialView", choice)
    }
    <br />
    <div>
        <a href="@Url.Action("Add", "Choice", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Add New Choice" /></a>
    </div>
}
<hr />
<environment include="Development">
    @Html.Hidden("DebugJson", Model.ToJson(Newtonsoft.Json.Formatting.Indented))
</environment>
<div>
    @Html.ActionLink("Back to Questionnaire", "Edit", "Questionnaire")
</div>

