@model Questionnairor.Models.Question

@{
    ViewData["Title"] = "Delete";
    ViewData["QuestionId"] = Model.Id;
}

<h2>Question</h2>
<h4>Delete</h4>
<hr />
@using (Html.BeginForm("Delete", "Question", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.Id)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Title, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.TextAreaFor(m => m.Text, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this question.
    </p>
    <div>
        <input type="submit" value="Delete Question" />
        <a href="@Url.Action("Edit", "Question", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Cancel Deletion" /></a>
    </div>
    <hr />
    <h4>Choices</h4>
    foreach (var choice in Model.Choices)
    {
        @await Html.PartialAsync("ChoicePartialView", choice)
    }
    @Html.HiddenFor(m => m.Choices)
    <br />
    <div>
        <a href="@Url.Action("Add", "Choice", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Add New Choice" /></a>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to Questionnaire", "Edit", "Questionnaire")
</div>

