@model Questionnairor.Models.Choice

@{
    ViewData["Title"] = "Add";
    ViewData["ChoiceValue"] = Model.Value;
}

<h2>Choice</h2>
<h4>Add</h4>
<hr />
@using (Html.BeginForm("Create", "Choice", new { questionId = ViewData["QuestionId"] }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Value)
        <br />
        @Html.ValidationMessageFor(m => m.Value)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Text)
        <br />
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.IsDefault)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.IsDefault)
        <br />
        @Html.ValidationMessageFor(m => m.IsDefault)
    </div>
    @Html.HiddenFor(m => m.Responses)
    <br />
    <div>
        <input type="submit" value="Add Choice" />
        <a href="@Url.Action("Edit", "Question", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Cancel Add" /></a>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to Questionnaire", "Edit", "Questionnaire")
    @Html.ActionLink("Back to Question", "Edit", "Question", new { questionId = ViewData["QuestionId"] })
</div>

