@model Questionnairor.Models.Choice

@{
    ViewData["Title"] = "Edit";
}

<h2>Delete</h2>
<h4>Choice</h4>
<hr />
@using (Html.BeginForm("Delete", "Choice", FormMethod.Post))
{
    <div class="Editor Left">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Value, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Text, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.IsDefault)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.IsDefault, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this choice.
    </p>
    <br />
    <div>
        <input type="submit" value="Delete Choice" formaction="@Url.Action("Delete", "Choice", new { id = ViewData["Id"], questionId = ViewData["QuestionId"], value = @Model.Value, confirm = true })" />
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Edit", "Question", new { id = ViewData["Id"], questionId = ViewData["QuestionId"] })
</div>

