@model Questionnairor.Models.Choice

@{
    ViewData["Title"] = "Edit";
    ViewData["ChoiceValue"] = Model.Value;
}

<h2>Choice</h2>
<h4>Edit</h4>
<hr />
@using (Html.BeginForm("Update", "Choice", new { questionId = ViewData["QuestionId"], oldValue = Model.Value }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Value)
        @Html.ValidationMessageFor(m => m.Value)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.IsDefault)
        @Html.EditorFor(m => m.IsDefault)
    </div>
    <br />
    <div>
        <input type="submit" value="Edit Choice" />
        <a href="@Url.Action("Remove", "Choice", new { questionId = ViewData["QuestionId"], value = Model.Value })"><input type="button" value="Delete Choice" /></a>
        <a href="@Url.Action("Add", "Choice", new { questionId = ViewData["QuestionId"] })"><input type="button" value="Add New Choice" /></a>
    </div>
    <hr />
    <h4>Responses</h4>
    foreach (var response in Model.Responses)
    {
        @await Html.PartialAsync("ResponsePartialView", response)
    }
    @Html.HiddenFor(m => m.Responses)
    <br />
    <div>
        <a href="@Url.Action("Add", "Response", new { questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"] })"><input type="button" value="Add New Response" /></a>
        @await Component.InvokeAsync("ResponseList", new { questionId = ViewData["QuestionId"] })
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to Questionnaire", "Edit", "Questionnaire")
    @Html.ActionLink("Back to Question", "Edit", "Question", new { questionId = ViewData["QuestionId"] })
</div>

