@model Questionnairor.Models.Choice

@{
    ViewData["Title"] = "Edit";
}

<h2>Choice</h2>
<h4>Delete</h4>
<hr />
@using (Html.BeginForm("Delete", "Choice", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"], confirm = true }, FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <div class="Editor Left">
        @Html.LabelFor(m => m.Value)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Value, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.Text)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.Text, new { @readonly = "readonly" })
    </div>
    <div class="Editor Left">
        @Html.LabelFor(m => m.IsDefault)
    </div>
    <div class="Editor Right">
        @Html.EditorFor(m => m.IsDefault, new { @readonly = "readonly" })
    </div>
    <p>
        Please confirm permanent deletion of this choice.
    </p>
    <br />
    <div>
        <input type="submit" value="Delete Choice" />
    </div>
    <hr />
    <h4>Responses</h4>
    foreach (var response in Model.Responses)
    {
        @await Html.PartialAsync("ResponsePartialView", response)
    }
    @if (Model.Responses.Count == 0)
    {
        @Html.HiddenFor(m => m.Responses)
    }
    <br />
    <div>
        <input type="submit" value="Add Response" formaction="@Url.Action("Add", "Response", new { id = ViewData["Id"], questionId = ViewData["QuestionId"], value = ViewData["ChoiceValue"] })" />
    </div>
}
<hr />
<div>
    @Html.ActionLink("Back to List", "Edit", "Question", new { questionnaireId = ViewData["Id"], questionId = ViewData["QuestionId"] })
</div>

